.mainChunkDisplayWrapper{
    width: 100%;
    margin-top: 5px ;
    border-top: 1px solid black;
    background-color: var(--alabaster-grey);
    font-weight: 700;
    font-size: 15px;
    font-style: italic;
}

.chunksList li{
    padding-bottom: 10px;
}
.chunkText {
    padding-left: 8px;
}