.mainTaskDisplayWrapper {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  width: 90%;
  margin-top: 8px;
  margin-bottom: 10px;
  border-top: 3px solid black;
  border-top-left-radius: 18px;
  border-top-right-radius: 18px;
  border-bottom-left-radius: 18px;
  border-bottom-right-radius: 18px;
  background-color: var(--rusty-spice);
  color: var(--alabaster-grey);
  box-shadow: 0px -3px 10px 0px #0000007f;
}

.taskHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.taskHeader h3 {
  margin: 4px 0;
  font-size: 15px;
}

.taskHeader p {
  margin: 2px 0 6px 0;
  font-size: 13px;
}

.taskHeader button {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 13px;
  padding: 4px 8px;
  background-color: whitesmoke;
  border: solid black 2px;
  border-radius: 16px;

}

.mainTaskDisplayWrapper ul {
    list-style: none;
}

.taskList {
  font-weight: 500;
  font-size: 14px;
  list-style: none;
  padding-left: 1px;
  text-align: left;
}

.taskList li {
  list-style: none;
  padding-left: 8px;
  text-align: left;
  padding: 4px;
}

.task {
  padding-top: 10px;
  display: flex;
  align-items: center;
  width: 100%;
}

.taskText {
  margin-left: 8px;

}
.downArrow {
    margin-left: auto;
    margin-right: 15px;
}

.downArrow:hover{
  transform: scale(1.5);
  transform: scaleY(-1);
}
