.taskWrapperDiv{
    display: flex;
    flex-direction: column;
    justify-content: center; 
    background-color:lightslategray;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 10px;
    font-size: larger;
}

.taskWrapperDiv > label {
    font-size: larger;
    font-weight: 600;
}
