.navbar{
    position: fixed; 
    bottom:0;
    left:0;
    width: 100vw;
    margin-top: auto;
    background-color: var(--alabaster-grey);
    color: black;
    border: solid black 5px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.navbar ul {    
    padding-left: 5px;
    padding-right: 5px;
    display: flex;
    justify-content: flex-start;
    justify-content: space-evenly;
    list-style: none;
}

.navbar li{
    display: flex;
    flex-direction: column;
    align-items: center; 
    padding: 10px;
    background-color: #ff661f;
    border: 2px solid black;
    border-radius: 5px;
}

.navbar li:hover {
    cursor: pointer;
    background-color: rgb(253, 176, 176);
}