.mainNotesWrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;  
    width: 100%;
    background-color: var(--alabaster-grey);
    color: black;
    border-top: solid black 10px;
    border-top-left-radius: 20%;
    border-top-right-radius: 20%;
}

.newNoteDiv {
   display: flex;
   flex-direction: column;
   margin-top: 10px;

}

.newNoteDiv textarea {
    max-width: 100%;
}

.noteListDiv {
    background-color: blueviolet;
    
}
.note {
    background-color: grey;
    border-bottom: 2px solid black;
}