.mainNotesWrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;  
    width: 100%;
    background-image: url("../../assets/Notebook.jpg");
    background-size: cover;
    color: black;
    border-top: solid black 10px;
    border-top-left-radius: 20%;
    border-top-right-radius: 20%;
    border-left: solid black 5px;
}
.noteBookHeader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-bottom: solid black 2px;
}
.noteBookHeader h1 {
    margin-bottom: 0;
}

.noteBookHeader button {
    font-size: 15px;
    margin-bottom: 17px;
}
.newNoteDiv {
   display: flex;
   flex-direction: column;
   align-items: center;
   align-self: center;
   width: 90%;
   margin-top: 10px;
   margin-bottom: 10px;
   background-color: var(--rusty-spice);
   border: 2px solid black;
   box-shadow: -1px 2px 21px 13px #00000033;
}
.newNoteDiv button {
    margin-top: 10px;
    margin-bottom: 10px;
}
.newNoteDiv textarea {
    width: 80%;
    height: 100px;
    margin-bottom: 10px;
    border: black solid 2px;
}
.noteListWrapper {
    background-color: transparent;
}
.noteDiv {    
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    margin-left: 30px;
}
.noteDiv h2 {    
    border: 2px solid black;
    background-color: chocolate;
    padding: 10px;
    border-radius: 25px;
}
.note {
    background-color: rgb(255, 255, 255);
    border: 2px solid black;
    align-items: center;
    width: 80%;
}

.noteDiv button {
    border-radius: 20px;
    background-color: burlywood;
    font-size: medium;
    padding: 8px;
}