#root {
  width: 95%;
  max-width: 650px;
  min-height: 100vh;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

.appTitle  {
  display: flex;
  flex-direction: column;
  border: solid black 2px;
  border-radius: 1px;
  background-color: var(--alabaster-grey);
}

.appTitle h1 {
  margin: 0;
  padding: 6px;
  font-size: 20px;
  color: var(--rusty-spice);
}

.appTitle h1::after {
  content: "";
  display: block;
  width: 60px;
  height: 2px;
  margin: 4px auto 0 auto;
  background-color: black;
}

.appTitle p {
  margin: 0;
  padding: 4px 8px 6px 8px;
  color: var(--rusty-spice);
  font-size: 12px;
  font-weight: 400;
  font-style: italic;
}
