.pomodoroWrapper {
    display: flex;
    flex-direction: column;
    border: solid black 2px
}


.sessionTimer {
    border: 2px solid red;
}

.timerEndNotification {
    border: solid red 3px;
    background-color: white;
    color: black
}